body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

textarea {
    margin: 10px;
    padding: 10px;
    border: #000 1px solid;
    border-radius: 10px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 30px;
}

button:hover {
    background-color: #45a049;
}

#include-checkbox {
    margin: 10px;
    padding: 10px;
    border: #238f1f 1px solid;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.header nav ul li a:hover {
    color: #f1f1f1;
}

/* active header */
.header nav ul li.active a {
    color: #8d8d8d;
}